BODY {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: ו; BACKGROUND-COLOR: #d6dff7; margin:0; padding:0
}
.main{ margin-left:auto; margin-right:auto}

.main_head{ width:100%; background-color:#799ae1; height:15px; margin:0; padding:0;}

.main_left{ width:180px; float:left; background-color:#799ae1; margin:0;  padding:0}

.main_left_logo{ width:160px; height:40px; margin-left:10px;}

.main_left_exit{ width:160px; height:20px; color:Black; font-weight:bolder; text-align:center; margin-top:10px;margin-left:10px;}

.main_left_box{ width:160px;margin-left:10px; margin-top:10px;}

.main_left_box_title1{ width:160px; height:25px; background-image:url(../images/admin_left_1.gif); line-height:25px; vertical-align:middle; text-align:center; font-size:13px; color:#215dc6; font-weight:bold}

.main_left_box_title2{ width:160px; height:25px; background-image:url(../images/admin_left_2.gif); line-height:25px; vertical-align:middle; text-align:center; font-size:13px; color:#215dc6; font-weight:bold}

.main_left_box_title3{ width:160px; height:25px; background-image:url(../images/admin_left_9.gif); line-height:25px; vertical-align:middle; text-align:center; font-size:13px; color:#215dc6; font-weight:bold}

.main_left_box_text{ width:160px; background-color:#d6dff7; text-align:center}

.main_left_box_text ul{ margin-top:10px; list-style:none; text-align:center;}

.main_left_box_text ul li{ margin-top:5px; text-align:center}

.main_left_box_text ul li a:link{ color:Black; text-decoration:none}

.main_left_box_text ul li a:visited{color:Black; text-decoration:none}

.main_left_box_text ul li a:hover{ color:#3F8805; text-decoration:underline}

.main_left_box_text ul li a:active{ color:Green; text-decoration:underline}







.main_right{width:auto; text-align:center; float:left}

.main_right_box{ width:800px; border-width:1px;  border-color: #6595d6; border-style:solid; margin-top:20px;}

.main_right_title{ width:800px; height:23px; background-color:#4455aa; text-align:center; border-width:1px; border-color:White; border-style:solid;  color:White; font-size:12px; font-weight:bold; line-height:23px; vertical-align:middle; overflow:hidden}

.main_right_box table{ width:800px; margin-top:15px; border-right-color:White; border-right-width:1px; border-right-style:solid; border-top-color:White; border-top-style:solid; border-top-width:1px;}

.main_right_box table tr td{border-width:1px; border-color:White; border-style:solid; color:White;  border-right-width:0px; border-bottom-width:1px; border-bottom-color:White; border-bottom-style:solid; border-top-width:0px}

.main_right_box_gridview{ color:Black; clear:both}

.main_right_box_old{ width:800px; border-width:1px;  border-color: #6595d6; border-style:solid; margin-top:20px;}

.main_right_box_old table{ width:800px; margin-top:15px; border-right-color:White; border-right-width:1px; border-right-style:solid; border-top-color:White; border-top-style:solid; border-top-width:1px;}

.main_right_box_old table tr td{border-width:1px; border-color:White; border-style:solid; color:Black;  border-right-width:0px; border-bottom-width:1px; border-bottom-color:White; border-bottom-style:solid; border-top-width:0px}


#ajaxtable{ width:750px;  color:Green}

#ajaxtable tr td{ color:Green}

#ajaxtable1{ width:750px;  color:Green}

#ajaxtable1 tr td{ color:Green}